<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login/login.jsp</welcome-file>
    </welcome-file-list>
    
    <context-param>
        <param-name>GOOGLE_CLIENT_ID</param-name>
        <param-value>your-client-id.apps.googleusercontent.com</param-value>
    </context-param>

    <context-param>
        <param-name>GOOGLE_CLIENT_SECRET</param-name>
        <param-value>your-client-secret</param-value>
    </context-param>

</web-app>
